<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div  class="  main bg-zinc-900 w-full min-h-screen text-white p-10 " >

    <h2 class="text-3xl text-white font-bold mb-5 underline">Upload File</h2>

    <form autocomplete="off" enctype="multipart/form-data" class="form"  action="/upload" method="post">
        <input type="file" name="image" >
        <input class="px-5 rounded-md py-2 rounded-md outline-none bg-blue-500  hover:bg-blue-800  text-xl border border-zinc-600  "type="submit" name="submit" value="Upload File">
    </form>
    
  </div>
</body>
</html>

